<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>maxdome-rssfeeds</title>
  {%- for config in configs %}
  <link rel="alternate" type="application/rss+xml" href="{{ config.rssfeed.route }}" title="{{ config.rssfeed.channel.title }}" />
  {%- endfor %}
  <link rel="alternate" type="application/rss+xml" href="http://blog.maxdome.de/feed" title="Maxdome Blog" />
</head>
<body>
<h2>Maxdome RSS-Feeds</h2>
<ul>
  {%- for config in configs %}
  <li><a href="{{ config.rssfeed.route }}" target="_blank">{{ config.rssfeed.channel.title }}</a></li>
  {%- endfor %}
  <li><a href="http://blog.maxdome.de/feed" target="_blank">Maxdome Blog</a></li>
</ul>
<h2>Schritt für Schritt Anleitung mit Feedly</h2>
<h3>Browser</h3>
<ol>
  <li>Besuche <a href="http://feedly.com/" target="_blank">http://feedly.com/</a></li>
  <li>Registriere dich und/oder melde dich an</li>
  <li>Besuche <a href="http://feedly.com/i/spotlight/maxdome-rssfeeds.herokuapp.com" target="_blank">http://feedly.com/i/spotlight/maxdome-rssfeeds.herokuapp.com</a> oder klicke auf "Add Content" und füge "<a href="http://maxdome-rssfeeds.herokuapp.com/">http://maxdome-rssfeeds.herokuapp.com/</a>" ein</li>
  <li>Wähle die RSS-Feeds bei welchen du auf dem neusten Stand sein willst</li>
</ol>
<h3>Smartphone</h3>
<ol>
  <li>Installiere "Feedly" aus dem <a href="http://itunes.apple.com/de/app/feedly.-your-rss-news-reader./id396069556" target="_blank">App Store</a> oder <a href="http://play.google.com/store/apps/details?id=com.devhd.feedly" target="_blank">Play Store</a></li>
  <li>Registriere dich und/oder melde dich an</li>
  <li>Klicke auf "Add website" und füge "http://maxdome-rssfeeds.herokuapp.com/" ein</li>
  <li>Wähle die RSS-Feeds bei welchen du auf dem neusten Stand sein willst</li>
  <li>Persönliche Empfehlung: Öffne die Einstellungen. Im "Look and Feel" Bereich ändere "Transition" zu "scroll" und "Default View" zu "List"</li>
</ol>
</body>
</html>
